.hexagon {
  position: relative;
  width: 200px;
  height: 220px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(248, 199, 54);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: radial-gradient(
    circle at 60% 40%,
    #fff,
    #fff 10%,
    #eee 30%,
    rgb(226, 179, 8) 65%,
    #000
  );
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
